.DS_Store
/.build
/out
/Packages
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
/dist
node_modules/
.github/workflows/backup.yml
.github/workflows/build.yml
backup.version.swift
CHANGELOG.md  
VERSION  



#IDE
.idea
.vscode

# Docker tests
Dockerfile

# Misc
test.zip

