.DS_Store
/.build
/out
/Packages
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
/dist

#IDE
.idea
.vscode

# Docker tests
Dockerfile

# Misc
test.zip

