name: Release and publish to github.com/evva-sfw
on:
  workflow_dispatch:
    inputs:
      input_version:
        type: choice
        description: What type of release?
        options:
          - ""
          - patch
          - minor
          - major
concurrency: ${{ github.workflow }}-${{ github.ref }}

# Dont need permissions because we use github app and not the workflow permissions
permissions: {}
jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
        id: app-token
        with:
          # required
          # Appid from this app: https://evva.ghe.com/apps/p-lehner/evva-bee
          app-id: ${{ vars.APP_ID }}
          # Private key from vault https://vault.service.consul:8200/ui/vault/secrets/secret/show/infrastructure/services/external/github-enterprise/github-apps/evva-bee
          private-key: ${{ secrets.APP_PRIVATE_KEY }}
      - name: Get GitHub App User ID
        id: get-user-id
        run: echo "user-id=$(gh api "/users/${{ steps.app-token.outputs.app-slug }}[bot]" --jq .id)" >> "$GITHUB_OUTPUT"
        env:
          GH_TOKEN: ${{ steps.app-token.outputs.token }}
          GH_HOST: evva.ghe.com
      - run: |
          git config --global user.name '${{ steps.app-token.outputs.app-slug }}[bot]'
          git config --global user.email '${{ steps.get-user-id.outputs.user-id }}+${{ steps.app-token.outputs.app-slug }}[bot]@users.noreply.github.com'
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0 # For release-it and auto-changelog to be able to generate the full changelog
          fetch-tags: true
          token: ${{ steps.app-token.outputs.token }}
          ref: ${{ github.ref }}
          # Make sure the value of GITHUB_TOKEN will persist in repo's config for release-it to use it later
          # In this case it is a short lived app-token, so its ok
          persist-credentials: true
      - name: Setup Node.js
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: lts/*
      - name: Install node dependencies
        run: npm ci

      # Get the latest tag info, increment it accordingly, update the versioninfo.swift file so it is built with new version
      - name: Update version info for binary build
        env:
          VERSION_TYPE: ${{ github.event.inputs.input_version }}
        run: |
          cp ${{ github.workspace }}/Sources/xs3-cert/versioninfo.swift /tmp/versioninfo.swift.backup

          if [ -z "$VERSION_TYPE" ]; then
            npx release-it --no-git.commit --no-git.tag --no-git.push --no-github.release --ci --no-plugins
          else
            npx release-it ${{ github.event.inputs.input_version }} -no-git.commit --no-git.tag --no-git.push --no-github.release --ci --no-plugins
          fi

          NEW_TAG=$(cat version)
          sed -i -E "s/version = \"dev\"/version = \"$NEW_TAG\"/g" ${{ github.workspace }}/Sources/xs3-cert/versioninfo.swift

          cat ${{ github.workspace }}/Sources/xs3-cert/versioninfo.swift


      # Install Swift and SDK
      - name: Install dependencies
        run: | 
          curl -O https://download.swift.org/swiftly/linux/swiftly-$(uname -m).tar.gz && \
          tar zxf swiftly-$(uname -m).tar.gz && \
          ./swiftly init --quiet-shell-followup && \
          . "${SWIFTLY_HOME_DIR:-$HOME/.local/share/swiftly}/env.sh" && \
          hash -r

          swift sdk install https://download.swift.org/swift-6.2.3-release/static-sdk/swift-6.2.3-RELEASE/swift-6.2.3-RELEASE_static-linux-0.0.1.artifactbundle.tar.gz \
          --checksum f30ec724d824ef43b5546e02ca06a8682dafab4b26a99fbb0e858c347e507a2c

      # Build binary
      - name: Build XS3 Cert Retrieval binary
        working-directory: ${{ github.workspace }}
        id: build-step
        run: |
          swift build -c release --experimental-lto-mode=full --swift-sdk aarch64-swift-linux-musl
          echo "Checking aarch64-swift-linux-musl"
          mv .build/aarch64-swift-linux-musl/release/xs3-cert .build/aarch64-swift-linux-musl/release/xs3-cert-arm64
          ls -la .build/aarch64-swift-linux-musl/release/xs3-cert-arm64
          echo "MD5 sum of xs3-cert-arm64 is $(md5sum .build/aarch64-swift-linux-musl/release/xs3-cert-arm64)"

          swift build -c release --experimental-lto-mode=full --swift-sdk x86_64-swift-linux-musl
          echo "Checking x86_64-swift-linux-musl"
          mv .build/x86_64-swift-linux-musl/release/xs3-cert .build/x86_64-swift-linux-musl/release/xs3-cert-amd64
          ls -la .build/x86_64-swift-linux-musl/release/xs3-cert-amd64
          echo "MD5 sum of xs3-cert-amd64 is $(md5sum .build/x86_64-swift-linux-musl/release/xs3-cert-amd64)"

      # Return repo to original checked out state
      - name: Remove created files and return to original repo state
        run: |
          cp /tmp/versioninfo.swift.backup ${{ github.workspace }}/Sources/xs3-cert/versioninfo.swift
          rm version

      - name: Install node dependencies
        run: npm ci
      - name: Run release-it only create release on github
        env:
          GITHUB_TOKEN: ${{ steps.app-token.outputs.token }}
        run: |
          npx release-it ${{ github.event.inputs.input_version }} --ci
