name: Update Changelog on Release

on:
  release:
    types: [published]

permissions:
  contents: write

jobs:
  update-changelog:
    runs-on: ubuntu-latest
  steps:
      - uses: actions/create-github-app-token@df432ceedc7162793a195dd1713ff69aefc7379e # v2.0.6
        id: app-token
        with:
          # required
          # Appid from this app: https://evva.ghe.com/apps/p-lehner/evva-bee
          app-id: ${{ vars.APP_ID }}
          # Private key from vault https://vault.service.consul:8200/ui/vault/secrets/secret/show/infrastructure/services/external/github-enterprise/github-apps/evva-bee
          private-key: ${{ secrets.APP_PRIVATE_KEY }}
      - name: Get GitHub App User ID
        id: get-user-id
        run: echo "user-id=$(gh api "/users/${{ steps.app-token.outputs.app-slug }}[bot]" --jq .id)" >> "$GITHUB_OUTPUT"
        env:
          GH_TOKEN: ${{ steps.app-token.outputs.token }}
          GH_HOST: evva.ghe.com
      - run: |
          git config --global user.name '${{ steps.app-token.outputs.app-slug }}[bot]'
          git config --global user.email '${{ steps.get-user-id.outputs.user-id }}+${{ steps.app-token.outputs.app-slug }}[bot]@users.noreply.github.com'
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          fetch-depth: 0 # For release-it and auto-changelog to be able to generate the full changelog
          fetch-tags: true
          token: ${{ steps.app-token.outputs.token }}
          ref: ${{ github.ref }}
          # Make sure the value of GITHUB_TOKEN will persist in repo's config for release-it to use it later
          # In this case it is a short lived app-token, so its ok
          persist-credentials: true
      - name: Setup Node.js
        uses: actions/setup-node@1d0ff469b7ec7b3cb9d8673fde0c81c44821de2a # v4.2.0
        with:
          node-version: lts/*
      - name: Install node dependencies
        run: npm ci
      - name: Run release-it only create release on github
        env:
          GITHUB_TOKEN: ${{ steps.app-token.outputs.token }}
        run: |
          npx release-it ${{ github.event.inputs.input_version }} --ci --git.commit --git.push
          cat CHANGELOG.md

     